body {
    padding: 0;
    margin: 0;
    /* background-image: linear-gradient(to right, #434343 0%, black 100%); */
    transition: 0.5s;
    background: #121212 !important;
}

/*for Light mode*/
body.light-mode {
    /* background-image: none; */
    background-color: #f0f5ff !important;
}

#head {
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    margin-top: 26px;
    color: white;
}

#head.light-mode {
    color: #121212;
}

.container1 {
    height: 500px;
    width: 26%;
    margin-top: 3%;
    margin-left: 36%;
    background-color: black;
    overflow: hidden;
    border-radius: 15px;
    transition: 0.5s;
}

/*for Light mode*/
.container1.light-mode {
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}

.upper-section {
    height: 30%;
    background-color: black;
    border-bottom: 1px solid rgb(59, 9, 9);
    position: relative;
    transition: 0.5s;
}

.upper-section.light-mode {
    background-color: white;
    border-bottom: 1px solid #e3e7f0;
}

.upper-section>input {
    float: right;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    height: 40px;
    text-align: end;
    width: 100%;
    font-size: 25px;
    padding-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Poppins' !important;
}

.upper-section > input.light-mode {
    color: black;
}

.upper-section>p {
    color: white;
    font-size: 22px;
    font-weight: 600;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
    font-family: 'Poppins' !important;
}

.upper-section > p.light-mode {
    color: black;
}

#sun, #moon {
    font-size: 22px;
    position: absolute;
    top: 80%;
    left: 5%;
    transition: 0.2s;
    cursor: pointer;
}

#sun {
    display: block;
    transition: 0.6s;
    color: #7bddb4;
}

#moon {
    display: none;
    transition: 0.5s;
}

#sun.light-mode {
    display: none;
}

#moon.light-mode {
    display: block;
    color: #34252ef5;
}

.lower-section {
    height: 60%;
    background-color: black;
    transition: 0.5s;
}

.lower-section.light-mode {
    background-color: white;
}

.row1,
.row2,
.row3,
.row4,
.row5 {
    margin-top: 15px;
}

#number {
    color: white;
}

#equal {
    background: green;
}

#equal.light-mode {
    background: #f0f5ff;
}

#replay > i {
    color: green;
    transform: rotate(40deg);
}

.row1>button,
.row2>button,
.row3>button,
.row4>button,
.row5>button {
    font-size: 21px;
    width: 50px;
    height: 49px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    color: red;
    background: #2c2020;
    margin-left: 29px;
    cursor: pointer;
    font-family: "poppins";
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transition: 0.2s all;
}

button:active {
    transform: scale(0.90);
}

#clear > i {
    color: red;
}

#equal > i {
    color: white;
    font-size: 22px;
}

#equal.light-mode > i {
    color: black;
}

#delete > i {
    font-size: 20px;
}

i {
    color: yellow;

}